extends layout

block content
  .logo 
    include ./assets/icons8-tether-logo.svg
  h1= title
  h2= motive
  include ./components/tag.pug
  p To claim your tokens, provide your FaucetPay email. Without a valid account, you won't receive your tokens.
  include ./components/warning.pug
  .balance 
    div.icon 
      img(src="/images/icons8-wallet-50.png" alt="wallet")
    p= walletBalance
  .claim 
    p= claim
  .wallet 
    p Wallet Email 
    div 
      input(type="email", name="email", placeholder="Faucetpay Email", required)
    button.btn.btn-primary Get Reward
      .load 
  .payment 
    h3 Recent payouts 
    .table 
      .thead
        .tr 
          .td Date 
          .td Address 
          .td Reward
      .tbody
        each pay in payouts
          .tr 
            .td= pay.time
            .td= pay.address
            .td.amount= pay.amount 
              include ./assets/icons8-tether.svg


  p.label Welcome to #{title}
